<%= form_for author, html: { multipart: true } do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Create a form to show/edit users -->
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% bool = [["Yes", true],["No", false]] %>
    <%= f.label :favorite %>
    <%= f.select :favorite, bool %>  
    <%= f.label :bio %>
    <%= f.text_area :bio, size: "100x12" %> <br>
    <%= f.label :photo, "Upload Photo" %>
    <%= f.file_field :photo %>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
