<p id="notice"><%= notice %></p>

<span class=book_listing>Books Listing  </span> (<%= link_to 'Add a New Book', new_book_path %>)<br><br>


<table>
  <thead>
    <tr class=book_bg>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Read</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td>
        <td><%= book.yr_pub %></td>
        <td><%= book.read %></td>
        <td><%= book.description %></td>
        <td class=center_text><%= link_to 'Show', book %></td>
        <td class=center_text><%= link_to 'Edit', edit_book_path(book) %></td>
        <td class=center_text><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>

<br>


